.edit-profile {
  display: flex;
  /* border: solid; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 8rem 20px 20px 20px; */
  /* padding: 10% 40px; */
  min-height: 100vh;
  /* margin-bottom: 50px; */
}
.contone {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid; */
  flex-wrap: wrap;
  flex: 1 1 200px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
  background-color: #590404;
  min-width: 80%;
  margin: 8em 1em;
  gap: 2%;
  border-radius: 16px;
}

.labelsprofile{
  display: flex;
  flex-direction: column;
  /* border: solid; */
  min-width: 70%;
}
.upperlabels{
  display: flex;
  justify-content: center;
  /* width: ; */
  flex-wrap: wrap;
  /* border: solid; */
  gap: 5%;
  
}
.lowerlabels{
  /* border: solid; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  display: flex;
}
.middle,
.right {
  flex: 1;
  padding: 0 20px;
}

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  min-height: 5em;
  min-width: 30%;
  /* border: solid; */
  margin-bottom: 15px;
}

.inputs span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 200;
}

.inputs input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.save-button {
  display: flex;
  /* border: solid; */
  /* align-items: end; */
  justify-content: flex-end;
  gap: 5%;
  text-align: center;
  /* align-self: flex-end; */
}
.save-button span{
width: 100%;
height: 100%;
}
/* .save-button button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

/* .save-button button:hover {
  background-color: #45a049;
} */

/* Add more styles as needed */

