
/* HomePage.css #f8e4af*/
body {
  background-color: #f9e9c8;
  font-family: "Poppins", serif;
}
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}
/* FIRST SECTION  ******************************************/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInRightUp {
  from {
    opacity: 0;
    transform: translateX(20px) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.section-home {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #590404;
  margin-bottom: 100px;
  position: relative;
}

.half-home {
  display: flex;
  flex-wrap: wrap;
}
.home-one {
  width: 50%;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0px 40px;
}
.one-title {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  position: relative;
  z-index: 20;
  animation: fadeInUp 1s ease-in-out;
}

.titlesection {
  font-size: 3.7rem;
  color: white;
}
.txthomeone p {
  color: #f9e9c8;
}
.home-one p {
  width: 100%;
  color: #f9e9c8;
  font-size: 16px;
}
.firstbutton {
  margin: 20px 0;
}

.firstbutton button:hover {
  color: #590404;
}

.home-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeInUp 1s ease-in-out;
  align-items: flex-end;
  height: 100vh;
  position: relative;
  width: 50%;
}
.home-two .background {
  width: 100%;
  height: 100%;
  margin-bottom: -50px;
  object-fit: fill;
  opacity: 80%;
}

.dactylo {
  position: absolute;
  top: 20%;
  left: 22%;
  animation: fadeInUp 2s ease-in;
  width: 15em;
}

.testslide {
  position: absolute;
  top: 15%;
  left: 57%;
  width: 15em;
  animation: fadeInUp 2s ease-in;
}

.magana {
  position: absolute;
  top: 60%;
  left: 65%;
  animation: fadeInUp 2.5s ease-in;
  width: 10em;
}
.phone {
  position: absolute;
  top: 48%;
  left: 7%;
  animation: fadeInUp 2.5s ease-in;
  width: 12em;
}
.radio {
  position: absolute;
  top: 45%;
  left: 36%;
  animation: fadeInUp 2.6s ease-in;
  width: 13em;
}

.camera {
  z-index: 1;
  position: absolute;
  top: 67%;
  left: 10%;
  animation: fadeInUp 3s ease-in;
  width: 15em;
}

.koora {
  position: absolute;
  top: 65%;
  left: 35%;
  animation: fadeInUp 2.7s ease-in;
  width: 17em;
}

/*Category*****************************************/

.category-carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.category-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 40px 0px 0px 0px;
  color: #fff;
}
.carousel-container {
  margin: 20px 0px 70px 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.category-card {
  width: 100%;
  cursor: pointer;
  max-width: 300px;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 16px;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.category-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.category-info {
  padding: 10px;
}
.category-info span {
  font-size: 24px;
  font-weight: 700;
}
.category-info p {
  font-size: 16px;
}
.activecard {
  transform: scale(1.1);
}
.react-multi-carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7em;
}
.react-multiple-carousel__arrow {
  z-index: 100;
}

/* WAVES *************************************************/
.waves {
  left: 0;
  position: absolute;
  width: 100%;
  height: 15vh;

  margin-bottom: 100%;
  min-height: 100px;
  max-height: 150px;
  transform: rotate(180deg);
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*  SECOND SECTION  ******************************************/

.section-carousel {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 50px 0;
  position: relative;
}
.section-carousel span {
  margin-bottom: 18px;
  font-size: 45px;
  text-align: center;
}
.carousela {
  border: solid;
}

.desc_ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.cardd {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  gap: 5px;
  border-radius: 16px;
  width: 100%;
  background-color: white;
  max-width: 300px;
  padding: 0;
  margin: 0;
  font-family: arial;
}
.likes-iconn {
  display: flex;
  position: absolute;
  color: #590404;
  margin: 10px;
  padding: 5px;
  right: 0;
  background-color: #f9e9c8;
  border-radius: 100px;
}
.likes-iconn:hover {
  fill: black;
}
.imageprdctss {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product--imagee {
  width: 100%;
  height: 15em;
  object-fit: contain;
  border-radius: 16px 16px 0px 0px;
  transition: transform 0.7s ease;
}
.product--imagee:hover {
  object-fit: none;
}
.prdctnamee:first-letter {
  text-transform: uppercase;
}

.cart-textt {
  margin: 5px 10px;
  padding-bottom: 5px;
}

/* a verifierr *************************/
.cart-textt .prdctnamee {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  cursor: pointer;
}
.cart-texte p {
  margin-bottom: 1em;
  color: #212121;
}
.realprice {
  font-size: 24px;
  color: #590404;
}
.pricee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}
.cardprdctt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}
.addbuttonn span {
  width: 100%;
  height: 100%;
}

/* Teerthsection*********************************/

.topcollection {
  display: flex;
  margin: 40px;
  border-radius: 16px;
  background-color: #590404;
  height: 35em;
}
.textslider {
  display: flex;
  align-items: center;
  border-radius: 16px;
  width: 50%;
}

.text {
  display: flex;
  animation: fadeInRightUp 1s ease-out;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 4rem;
  width: 50%;
}

.text span {
  font-size: 2.5rem;
  color: #fff;
}

.text p {
  color: #f9e9c8;
}

/*reviews*************************************************************/

.cardreviews {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  gap: 5px;
  border-radius: 16px;
  width: 100%;
  background-color: white;
  max-width: 300px;
  padding: 0;
  margin: 0;
  font-family: arial;
}
.reviewsection {
  display: flex;
  margin: 50px 40px;
  border-radius: 16px;
  background-color: #590404;
  padding: 30px;
  height: 60vh;
  gap: 20px;
}
.title-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding-bottom: 10px;
  margin: 10px 0;
}
.title-reviews span {
  font-size: 2.5rem;
}

.caroureviews {
  align-self: center;
  width: 63%;
}
.secondtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.secondtitle span {
  font-size: 2.5rem;
}

.outsidebutton {
  display: flex;
  align-items: center;
  gap: 10px;
}
.outsidebutton button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  min-width: 53px;
  min-height: 53px;
  opacity: 1;
  cursor: pointer;
  transition: background-color 0.7s ease;
}
.outsidebutton button:hover {
  background-color: rgba(0, 0, 0, 0.795);
}

.reviews--image {
  width: 100%;
  height: 13em;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.cart-reviews {
  margin: 0px 10px;
  padding-bottom: 5px;
}
.cart-reviews span {
  font-size: 24px;
  font-weight: 500;
}
.cart-reviews p {
  color: #212121;
}

.rating {
  display: flex;
  align-items: center;
}

.star-filled,
.star-empty {
  font-size: 15px;
  color: gold;
  margin-right: 2px;
}

.outsidebutton2 {
  display: none;
}

/* THE LAST SECTION******************************************/

.services-title {
  text-align: center;
  font-size: 2.5rem;
  /* A VOIR /******************************** */
  margin: 30px 0px 0px;
  color: #000000;
}

.lastsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 30px;
  margin-bottom: 8em;
}

.infos-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  min-height: 250px;
  position: relative;
  flex: 1 1 200px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.infos-item:hover {
  transform: scale(1.1);
}
.cardfontc {
  display: flex;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  background-color: #590404;
  border-radius: 16px;
  width: 100%;
}
.servicesicons {
  color: #fff;
}
.cardfontc h2 {
  color: #fff;
}
.cardfontc span {
  color: #f9e9c8;
  text-align: justify;
  padding: 10px 0;
}

/*Shrinking for mobile*/

@media (max-width: 600px) {
  .home-one,
  .home-two {
    width: 100%;
  }
  .home-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../assets/des.png);
    background-size: fill;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0px;
  }
  .one-title {
    margin-top: 0;
  }
  .titlesection {
    font-size: 1.9rem;
    text-align: center;
    width: 100%;
    color: white;
    padding: 0 5%;
  }

  .home-one p {
    display: none;
  }

  .discoverbutton {
    display: flex;
    justify-content: center;
  }

  .home-two {
    display: none;
  }

  .carousel-container {
    padding: 15px;
  }

  .category-title{
    padding: 0 5%;
  }
  .category-card {
    text-align: center;
  }

  .category-card img {
    height: 100px;
  }
  .category-info {
    padding: 5px;
  }

  .category-info span {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
  }

  .waves {
    height: 100px;
    min-height: 40px;
  }

  .topcollection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 0px;
    background-color: #590404;
    height: fit-content;
    padding: 15px;
  }
  .textslider {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    width: 50%;
    height: 20em;
  }

  .text {
    border-radius: 16px;
    background-color: #590404;
    text-align: center;
    padding: 5%;
    width: 100%;
  }

  .text span {
    font-size: 2rem;
    color: #fff;
  }

  .text p {
    display: none;
  }

  /* reviews *******************************/
  .reviewsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 0;
  }
  .iconfafa {
    display: none;
    font-size: 1.7rem !important;
  }

  .title-reviews span {
    justify-content: center;
    font-size: 2rem;
  }

  .caroureviews {
    align-self: center;
    margin-bottom: 20px;
    width: 90%;
  }

  .secondtitle span {
    width: 100%;
    display: flex;
    text-align: center;
  }

  .outsidebutton {
    display: none;
  }
  .outsidebutton2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
  .outsidebutton2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    min-width: 40px;
    min-height: 40px;
    opacity: 1;
    cursor: pointer;
    transition: background-color 0.7s ease;
  }

  .reviews--image {
    width: 100%;
    height: 13em;
  }

  .cart-reviews {
    margin: 0px 10px;
    padding-bottom: 5px;
  }
  .cart-reviews span {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  .cart-reviews p {
    font-size: 14px;
  }
  .lastsection {
    margin:  0 0 100px 0;
    padding: 0 20px;
  }
  .services-title {
    margin: 50px 0 0 0;
  }

  .cardfontc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cardfontc span {
    color: #f9e9c8;
    text-align: center;
    padding: 10px 0;
  }
}









@media only screen and (min-width: 600px) and (max-width: 768px) {

  .home-one,
  .home-two {
    width: 100%;
  }
  .home-one {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/des.png);
    background-size: fill;
    background-repeat: no-repeat;
    align-items: center;
    padding: 0px;
  }
  .one-title {
    margin-top: 0;
  }
  .titlesection {
    font-size: 1.9rem;
    text-align: center;
    width: 100%;
    color: white;
    padding: 0 10%;
  }

  .home-one p {
    display: none;
  }

  .discoverbutton {
    display: flex;
    justify-content: center;
  }

  .home-two {
    display: none;
  }

  .carousel-container {
    padding: 15px;
  }

  .category-title{
    padding: 0 5%;
  }
  .category-card {
    text-align: center;
  }

  .category-card img {
    height: 100px;
  }
  .category-info {
    padding: 5px;
  }

  .category-info span {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
  }

  .waves {
    height: 100px;
    min-height: 40px;
  }


  .cardd {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    gap: 5px;
    border-radius: 16px;
    width: 100%;
    background-color: white;
    max-width: 300px;
    padding: 0;
    margin: 0 3%;
    font-family: arial;
  }


  .topcollection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 0px;
    background-color: #590404;
    height: fit-content;
    padding: 15px;
  }
  .textslider {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    width: 50%;
    height: 20em;
  }
  
  .reviews--image{
    height: 10em !important;
  }
  .caroureviews .react-multi-carousel-item{
    padding: 1%;
  }
  .text {
    border-radius: 16px;
    background-color: #590404;
    text-align: center;
    padding: 5%;
    width: 100%;
  }

  .text span {
    font-size: 2rem;
    color: #fff;
  }

  .text p {
    display: none;
  }

  /* reviews *******************************/
  .reviewsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 5%;
    border-radius: 0;
  }
  .iconfafa {
    display: flex;
    font-size: 1.7rem !important;
  }

  .title-reviews {
    flex-direction: row;
    margin: 0 3%;
  }
  .title-reviews span {
    justify-content: center;
    font-size: 2rem;
  }

  .caroureviews {
    align-self: center;
    margin-bottom: 20px;
    width: 90%;
    margin: 5%;
  }
  .secondtitle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3%;
  }
  .secondtitle span {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  

  .outsidebutton {
    display: flex;

  }
  .outsidebutton2 {
    display: none
  }

  .reviews--image {
    width: 100%;
    height: 13em;
  }

  .cart-reviews {
    margin: 0px 10px;
    padding-bottom: 5px;
  }
  .cart-reviews span {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  .cart-reviews p {
    font-size: 14px;
  }
  .lastsection {
    margin:  0 0 100px 0;
    padding: 0 20px;
  }
  .services-title {
    margin: 50px 0 0 0;
  }

  .cardfontc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cardfontc span {
    color: #f9e9c8;
    text-align: center;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1698px){
  .caroureviews {
    align-self: center;
    width: 90%;
}
.cardreviews{
  margin-right: 10px;
  width: 1000px;
}
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  
.home-one {
  width: 50%;
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0px 40px;
}
.one-title {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  position: relative;
  z-index: 20;
  animation: fadeInUp 1s ease-in-out;
}

.titlesection {
  font-size: 2.5rem;
  color: white;
}
.txthomeone p {
  color: #f9e9c8;
}
.home-one p {
  width: 100%;
  color: #f9e9c8;
  font-size: 16px;
}
.firstbutton {
  margin: 20px 0;
}

.firstbutton button:hover {
  color: #590404;
}

.home-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeInUp 1s ease-in-out;
  align-items: flex-end;
  height: 100vh;
  position: relative;
  width: 50%;
}

.home-two .background {
  width: 100%;
  height: 100%;
  margin-bottom: -50px;
  object-fit: fill;
  opacity: 80%;
}

.dactylo {
  position: absolute;
  top: 22%;
  left: 10%;
  animation: fadeInUp 2s ease-in;
  width: 11em;
}

.testslide {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 12em;
  animation: fadeInUp 2s ease-in;
}

.magana {
  position: absolute;
  top: 57%;
  left: 60%;
  animation: fadeInUp 2.5s ease-in;
  width: 8em;
}
.phone {
  position: absolute;
  top: 48%;
  left: -7%;
  animation: fadeInUp 2.5s ease-in;
  width: 10em;
}
.radio {
  position: absolute;
  top: 45%;
  left: 25%;
  animation: fadeInUp 2.6s ease-in;
  width: 10em;
}

.camera {
  z-index: 1;
  position: absolute;
  top: 66%;
  left: 2%;
  animation: fadeInUp 3s ease-in;
  width: 12em;
}

.koora {
  position: absolute;
  top: 65%;
  left: 34%;
  animation: fadeInUp 2.7s ease-in;
  width: 11em;
}
  .carousel-container {
    padding: 15px;
  }

  .category-title{
    padding: 0 5%;
  }
  .category-card {
    text-align: center;
  }

  .category-card img {
    height: 100px;
  }
  .category-info {
    padding: 5px;
  }

  .category-info span {
    font-family: "Poppins", sans-serif;
    font-size: 21px;
  }

  .waves {
    height: 100px;
    min-height: 40px;
  }


  .cardd {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    gap: 5px;
    border-radius: 16px;
    width: 100%;
    background-color: white;
    max-width: 300px;
    padding: 0;
    margin: 0 3%;
    font-family: arial;
  }


  .topcollection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 0px;
    background-color: #590404;
    height: fit-content;
    padding: 15px;
  }
  .textslider {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    width: 50%;
    height: 20em;
  }
  
  .reviews--image{
    height: 10em !important;
  }
  .caroureviews .react-multi-carousel-item{
    padding: 1%;
  }
  .text {
    border-radius: 16px;
    background-color: #590404;
    text-align: center;
    padding: 5%;
    width: 100%;
  }

  .text span {
    font-size: 2rem;
    color: #fff;
  }

  .text p {
    display: none;
  }

  /* reviews *******************************/
  
  .reviewsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 5%;
    border-radius: 0;
  }
  .iconfafa {
    display: flex;
    font-size: 1.7rem !important;
  }

  .title-reviews {
    flex-direction: row;
    margin: 0 3%;
  }
  .title-reviews span {
    justify-content: center;
    font-size: 2rem;
  }

  .caroureviews {
    align-self: center;
    margin-bottom: 20px;
    width: 90%;
    margin: 5%;
  }
  .secondtitle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3%;
  }
  .secondtitle span {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .secondtitle span{
font-size: 2.5rem;
}

  .outsidebutton {
    display: flex;

  }
  .outsidebutton2 {
    display: none
  }

  .reviews--image {
    width: 100%;
    height: 13em;
  }

  .cart-reviews {
    margin: 0px 10px;
    padding-bottom: 5px;
  }
  .cart-reviews span {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
  .cart-reviews p {
    font-size: 14px;
  }
  .lastsection {
    margin:  0 0 100px 0;
    padding: 0 20px;
  }
  .services-title {
    margin: 50px 0 0 0;
  }

  .cardfontc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cardfontc span {
    color: #f9e9c8;
    text-align: center;
    padding: 10px 0;
  }

}


