.shopy{
  margin: 8em 40px;
}
.forCrdss{
  display: grid;
  width: 80%
}
.mt-4{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: "Poppins", serif;
  gap: .8rem;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding:  10px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type='range'] {
  overflow: hidden;
  border-radius: 16px;
  -webkit-appearance: none;
  background-color: #590404;
  accent-color:#f9e9c8;
  height: 5px;
  cursor: pointer;
}

.selects{
  cursor: pointer;
}
.selects > option{
  cursor: pointer;
  background-color: #f9e9c8;
}
.selects option:checked {
  background: #590404 ;
  color: #fff;
}

.filter-sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  width: 20%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: .8em;
  justify-content: flex-start;
  width: 100%;
  max-height: 715px;
  overflow-y: auto;
}

.product-list::-webkit-scrollbar {
  width: 5px; 
}

.product-list::-webkit-scrollbar-thumb {
  background-color: #590404; 
  border-radius: 8px; /
}

.product-list::-webkit-scrollbar-track {
  background-color: #f8f9fa; 
}
.tittle{
  background: #590404;
    color: white;
    padding: 10px;
    border-radius: 16px;
}
.card {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  position: relative;
  gap: 5px;
  border-radius: 16px;
  background-color: white;
  max-width: 250px;
  min-width: 250px;
  height: 350px;
  padding: 0;
  margin: 0;
  font-family: arial;
}

.likes-icon {
  display: flex;
  position: absolute;
  color: #590404;
  margin: 10px;
  padding: 5px;
  right: 0;
  background-color: #f9e9c8;
  border-radius: 100px;
}
.likes-icon:hover {
  fill: black;
}
.imageprdcts{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product--image {
  width: 100%;
  height: 10em;
  object-fit: contain;
  border-radius: 16px 16px 0px 0px;
  transition: transform 0.7s ease;
}
.product--image:hover{
  object-fit:none;
}
.prdctname:first-letter {
  text-transform: uppercase;
}


.cart-text {
  margin: 5px 10px;
  padding-bottom: 5px;
}


.cart-text .prdctname {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  cursor: pointer;
}
.cart-text p {
  margin-bottom: 5px;
  color: #212121;
}
.price {
  align-self: flex-end;
  color: black;
}

.addbutton span {
  width: 100%;
  height: 100%;
}







@media only screen and (max-width: 1397px) {
  .card {
    flex: 1 1 calc(33.333% - 1em);
    max-width: calc(33.333% - 1em);
  }

  .product--image {
    height: 11em;
  }

  .cart-text {
    margin: 5px 5px;
    padding-bottom: 5px;
  }

  .cart-text .prdctname {
    font-size: 20px;
  }

  .price {
    font-size: 0.9em;
  }
}


/* .------------------------- */

@media only screen and (max-width: 1365px) {
  .shopy {
    margin: 8em 10px;
  }

  .card {
    flex: 1 1 calc(33.333% - 1em);
    max-width: calc(33.333% - 1em);
  }

  .product--image {
    height: 11em;
  }

  .cart-text {
    margin: 5px 5px;
    padding-bottom: 5px;
  }

  .cart-text .prdctname {
    font-size: 18px;
  }

  .price {
    font-size: 0.8em;
  }
}

/* ================================== */

@media only screen and (max-width: 1315px) {
  .selects,
  .custom-input-range {
    width: 100%;
  }

  .selects option {
    font-size: 12px;
  }
}

/* --------------- */

@media only screen and (max-width: 1012px) {
  .card {
    flex: 1 1 calc(50% - 1em);
    max-width: calc(50% - 1em);
  }

  .filter-sidebar {
    width: 30%;
  }
  .forCrdss{
    width: 70%;
  }
  .product--image {
    height: 12em;
  }

  .cart-text {
    margin: 10px 10px;
    padding-bottom: 5px;
  }

  .cart-text .prdctname {
    font-size: 26px;
  }

  .price {
    font-size: 1em;
  }
}

/* Media queries for responsiveness */

@media screen and (max-width: 768px) {
  .mt-4 {
    flex-direction: column;
    align-items: center;

  }
  .shopy{
    margin-top: 5em;

  }

  .filter-sidebar {
    width: 100%;
  }
  .product-list {
    justify-content: center;
    width: 100%;
  }
  .forCrdss {
    width: 100%; 

  }

  .card {
    flex: 1 1 calc(50% - 1em);
    max-width: calc(50% - 1em);
  }

  .selects option {
    font-size: 12px;
    max-width: 100px !important;
  }
}