
  .checkout-page{
    padding: 8em 40px;
    width: 100%;
    font-family: "Poppins", serif;
    display: flex;
    justify-content: space-between;
}

.desc-product {
  width: 68%;
  max-height: 515px; 
  overflow-y: auto; 
}

.desc-product::-webkit-scrollbar {
  width: 5px; 
}

.desc-product::-webkit-scrollbar-thumb {
  background-color: #590404; 
  border-radius: 8px; /
}

.desc-product::-webkit-scrollbar-track {
  background-color: #f8f9fa; 
}

h1 {
    color: #590404;
  }
  
  h2 {
    color: #590404;
  }

  .checkout-products-list {
    display: flex;
    align-items: center;
    gap: 1rem; 
    border-bottom: 1px solid #ccc;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .product-details {
    flex-grow: 1;
  }
  
  .product-details p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0; 
  }
  
   .product-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .product-price {
    font-weight: bold;
    color: #590404;
  }
  .checkout-summary {
    width: 30%;
    background-color: #fff; 
    border-radius: 16px;
    /* margin: 0em 40px 0 0; */
    padding: 20px; 
  }
  
  .checkout-summary h2 {
    color: #590404; 
    margin-bottom: 20px; 
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .summary-item span:first-child {
    font-weight: bold;
  }
  
  .total {
    font-weight: bold;
    margin-top: 20px; 
  }
  
  .payment-method {
    margin-top: 20px;
  }
  
  .payment-method h2 {
    color: #590404; 
    font-size: 1.2em; 
    margin-bottom: 20px; 
  }
  


  .payment-btn {
    margin-top: 40px;
    text-align: center; 
    
  }
  
  .payment-btn button {
    padding: 10px 20px;
    background-color: #590404;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .payment-btn button:hover {
    background-color: #f9e9c8;
    color: #590404;
  }
  


  /* Responsive styles */

@media screen and (max-width: 1024px) {
  .checkout-page {
    flex-direction: column;
    align-items: center;
  }

  .desc-product {
    width: 100%;
    max-height: none;
  }

  .checkout-summary {
    width: 100%;
    margin: 20px 0;
  }
}



@media screen and (max-width: 478px) {

  .checkout-page {
    padding: 5em 20px 6rem 20px;
  }
  .desc-product {
    font-size: 13px; 
  }

  .checkout-products-list{
    gap: 0.1rem;
    
  }

  .desc-product p {
    display: none; 
  }
}