.resetform {
  padding: 8em 40px;
  height: 100vh;
}

.formas{
    display: flex;
    flex-direction: column;
}
.formas span{
    font-size: 35px;
}
.formas input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}


.buttonreset{
    margin-top: 20px;
}